* {

    padding: 0;

    margin: 0%;

    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



h1 {
    color: #76140d;
    background-color: white;
    font-weight: normal;
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}



header {
    background-color: white;
    
    padding: 0px;
    border: 0px;
    text-align: center;
}

.imagenesheader {
    text-align: left;
    border: 0px;
    margin: 0px;
    padding: -10px;
    background-color: White;


}

nav {
  background: white;
    text-align: right;
    content: 0px;
    border: 0px;
    margin: 0px;
    padding: -10px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    right: 20px;
    transition: grayscale 5s;
}

nav:hover {
    background-color: white;
    filter: grayscale(100%);
  
}

body {
    
    color: white;
    
}

.secdestacados {
   
  color: #76140d;
  
    font-weight: normal;
    font-size: 15px;
    position: relative;
    left: 600px;
 }

@keyframes texto {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}
@keyframes animacion {
    0% { 
        width: 220px;
    }

    25% {
        width: 240px;
    }

    50% {
        width: 260px;
    }

    75% {
        width: 280px;
    }
    
    100% {
        width: 300px;
    }
}

.hijoflexanimacion {
    background-color: #76140d;
    animation-name: animacion;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 1s;
}



/*FLEXBOX Y GRIDS*/

@media screen and (max-width:900px) {
    .encabezado {
        display: none;
    }

    .body {
        flex-wrap: wrap;
    }

    #contacto {
        flex-direction: column;
        border: none;
    }

    .body {
        display: none;
    }

    .footer {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.padreflex {

    background-color: #76140d;
    width: 1360px;
    height: 768px;
    border: 3px black;
    border-radius: 4px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  align-items: center;
  justify-content: space-around;
  
  
}


.hijoflexanimacion {
    
    border: 2px black dotted;
    border-radius: 4px;
}

.hijoflex p {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;

}

.footerflex {
    background-color: bisque;
    height: 100px;
    width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: flex-end;
    margin: auto;
    
}

/*FLEXBOX Y GRIDS*/




footer {
    background-color: white;
    margin: 0px;
    padding: 0px;
    text-align: right;
    border-color: #76140d;
}

.derechosr 
{color: black;
font-weight: bold;
}

/*PAGINA 2 - PRODUCTOS*/

.tituloProductos {
    color: white;
    background-color: #76140d;
    text-align: center;
}


.listaProductos {
   
   
    color: white;
    position: relative;
    left: 500px;
}

/*GRID*/
.padreflexproduc {
background-color: #76140d;
    width: 1360px;
    height: 768px;
    border: 3px black;
    border-radius: 4px;
    margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr;
  gap: 30px;
  

}

.hijoflexproduc {
    
    border: 1px black dotted;
    border-radius: 4px; 
height: 300px;
width: 300px;}

    .hijoflexproduc p {
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
    
    }

    /*GRID*/

    .imagenmiel
{
    position: relative;
    right: 100px;
}

/*PAGINA 3 SOBRE NOSOTROS*/

.Titulonos {
    text-align: center;
    font-size: large;
}
.ParrafoAlCampo

{
    text-size-adjust: 50%;
   
  height: 500px;
    background-color: #76140d;
    color: white;
    font-size: larger;
    }

    .textoC {
        position: relative;
        top: 100px;
        line-height: 50px;
    }

/*PAGINA 4 CONTACTO*/
.formularioc {
    background-color: #76140d;
 text-align: center;
    margin: auto;
 
}

/*PAGINA 5 CARRITO*/

.carritof {
    color: white;
    background-color: #76140d;
    width: 2000px;
    height: 500px;
}

.texto1 {
    position: relative;
    left: 100px;
    top: 100px; }





